@import "tailwindcss";

:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono:
    ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono", "Roboto Mono", "Oxygen Mono",
    "Ubuntu Monospace", "Source Code Pro", "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 250, 250, 250;
  --background-end-rgb: 255, 255, 255;

  --primary-glow: conic-gradient(
    from 180deg at 50% 50%,
    #16abff33 0deg,
    #0885ff33 55deg,
    #54d6ff33 120deg,
    #0071ff33 160deg,
    transparent 360deg
  );
  --secondary-glow: radial-gradient(rgba(240, 248, 255, 1), /* alice blue */ rgba(240, 248, 255, 0));

  --tile-start-rgb: 245, 248, 250;
  --tile-end-rgb: 235, 240, 245;
  --tile-border: conic-gradient(#00000020, #00000015, #00000010, #00000008, #00000005, #00000005, #00000020);

  --callout-rgb: 250, 252, 253;
  --callout-border-rgb: 200, 205, 210;
  --card-rgb: 252, 253, 254;
  --card-border-rgb: 210, 215, 220;
}

@media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 255, 255, 255;
    --background-end-rgb: 255, 255, 255;

    --primary-glow: radial-gradient(rgba(0, 128, 255, 0.4), rgba(0, 128, 255, 0));
    --secondary-glow: linear-gradient(
      to bottom right,
      rgba(0, 128, 255, 0),
      rgba(0, 128, 255, 0),
      rgba(0, 128, 255, 0.3)
    );

    --tile-start-rgb: 240, 240, 240;
    --tile-end-rgb: 220, 220, 220;
    --tile-border: conic-gradient(
      #00000080,
      #00000040,
      #00000030,
      #00000020,
      #00000010,
      #00000010,
      #00000080
    );

    --callout-rgb: 245, 245, 245;
    --callout-border-rgb: 180, 180, 180;
    --card-rgb: 250, 250, 250;
    --card-border-rgb: 220, 220, 220;
  }
}

::-webkit-scrollbar {
  display: none;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
}

h1 {
  font-size: 2.25rem;
  text-align: center;
  font-weight: bold;
}

@media (prefers-color-scheme: light) {
  html {
    color-scheme: light;
  }
}
